{% extends "base_index.html" %}
{% load static %}

{% block content %}
  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">中華料理<br>李家</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">富士宮市役所のすぐそばで四川料理を</h2>

        <h2 class="text-white mb-4">営業時間<br>火、水、木 17:30-22:30<br>金、土 17:30-23:30</h2>
        <p class="text-white-50">日曜日（予約限定）<br>月曜日（定休日）</p>
        <p class="text-white-50"></p>
 
      </div>
    </div>
  </header>

  <!-- About Section
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">営業時間　17:30～22:30</h2>
        </div>
      </div>
    </div>
  </section>
  -->

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">


      <!-- Featured Project Row
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="rounded img-fluid mb-3 mb-lg-0" src="{% static 'img/1.jpg' %}" width="400" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>トピックやオススメ料理等</h4>
            <p class="text-black-50 mb-0">オススメ料理等の説明を記載</p>
          </div>
        </div>
      </div>
      -->
     
      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">酒一覧・コース料理等</h4>
                <p class="mb-0 text-white-50">コース料理等の説明を記載</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{% static 'img/2.jpg' %}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">料理1</h4>
                <p class="mb-0 text-white-50">紹介文　値段等</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">

        <div class="col-lg-3">
          <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="">
        </div>
        <div class="col-lg-3">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">料理2</h4>
                <p class="mb-0 text-white-50">紹介文　値段等</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="">
        </div>
        <div class="col-lg-3">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">3</h4>
                <p class="mb-0 text-white-50">紹介文　値段等</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Three Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">

        <div class="col-lg-3">
          <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="">
        </div>
        <div class="col-lg-3">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">料理2</h4>
                <p class="mb-0 text-white-50">紹介文　値段等</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <img class="img-fluid" src="{% static 'img/1.jpg' %}" alt="">
        </div>
        <div class="col-lg-3">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">3</h4>
                <p class="mb-0 text-white-50">紹介文　値段等</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">〒418-0073 静岡県富士宮市弓沢町327</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="mailto:s0713_yamasaki&#64;yahoo.co.jp">s0713_yamasaki&#64;yahoo.co.jp</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">0544-55-1324</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="https://www.instagram.com/fujinomiya_lijia/" class="mx-2">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
      </div>

    </div>
  </section>


{% endblock %}
