<!DOCTYPE html>
<html>
<head>
<title>中華料理_李家_menu</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body id="page-top">

{% block content %}{% endblock %}

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
　<a class="navbar-brand" href="#page-top">PageTOP</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">全メニュー</a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-success btn-sm active" role="button" aria-pressed="true">飲み物</a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">料理カテゴリ1</a>
      </li>
      <li class="nav-item">
        <a href="#" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">料理カテゴリ2</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <botton type="button" class="btn btn-primary btn-lg">オーダー確認</button>
    </form>
</nav>

</body>
</html>
