{% extends "base_menu.html" %}
{% load staticfiles %}

{% block content %}


      <div class="row">
        {% for menu_item in menu_items %}
        {% if menu_item.photo %} 
        <div class="col-sm-3 col-lg-3">
          <div class="card">
            <div class="card-body">
              <div class="card img-fluid">
                <!-- 
                -->              
                <img class="card-img-top" src="{{ MEDIA_URL }}{{menu_item.photo.url}}" alt="">
                <!--
                <img class="card-img-top" src="{{menu_item.photo.url}}" alt="">
                -->
                <div class="card-img-overlay"><h4 class="card-title d-inline-flex text-white bg-secondary">{{ menu_item.title }}</h4></div>
              </div>    
              <div class="d-flex justify-content-between">
                <div class="p-2"><h5 class="card-title">{{ menu_item.price }} 円</h5></div>
                <div class="p-2"><a href="#" class="btn btn-primary">オーダー</a></div>
              </div>
              <p class="card-text">{{ menu_item.description  }}</p>              
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      
{% endblock %}